.login {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.account-login {
  margin-top: 30px;
  width: 40%;
  padding: 20px;
  border-style: solid;
  border-color: black;
}

.account-login h1 {
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

.login-form {
  background: #fff;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
input {
  width: 50%;
  height: 40px;
  margin: 10px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .account-login {
    width: 90%;
  }
}
