.login-form {
  background: #fff;
  width: 100%;
}

.container2,
.btn,
h1 {
  margin-bottom: 50px;
}
input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.btn {
  width: 50%;
  background-color: green;
  color: white;
  text-align: center;
}

.container {
  width: 35%;
}
.alert {
  padding: 0;
}
/*@media (max-width: 767px) {
  .account-login {
    width: 90%;
  }
}*/
